  
{% extends "layout2.html" %}

{% block content %}
<div class="  demo-1">
	{% include "header.html" %} 
	<div class="main clearfix">
		<div class="row">
			<div class="col-sm-5">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"> Inventario para empresa</h5>
						<div class="card-text">
							<form class="form-inline" method="POST">
								<table class="table">
									{% for field in form %}
									<tr>
										<td>{{ field.label }}</td>
									</tr>
									<tr>
										<td>{{ field }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td> <input type="submit" value="Resolver" class="btn btn-info form-control">
										</td>
										<td></td>
									</tr>
								</table>
							</form>
<hr>
{% include "metmodelo.html" %} 

						</div>

					</div>
				</div>
			</div>
			<div class="col-sm-7">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"> Inventario para empresa</h5>
						<p class="card-text">
              Se trata en determinar con que frecuencia y en que cantidad se debe reabastecer el
              inventario de manera que se minimice la suma de los costos por unidad de tiempo.
              Tenemos varias relaciones matemáticas como son:
              \[ Número \ anual \ de \ pedidos: \ N = D/Q \]
              \[ Inventario \ promedio \ anual: \ Q/2 \]
              \[ Costo \ anual \ de \ mantener \ el \ inventario: \ ChT = Q/2 * Ch \]
              \[ Costo \ anual \ de \ hacer \ los \ pedidos: \ CoT = D/Q* Co \]
              \[ Costo \ total \ de \ inventario: \ MO(Q) = ChT + CoT \]
              \[ Tiempo \ entre \ pedidos: \ T = Q/D \]
              Donde \( N \) es el número de pedidos, \(T\) el tiempo entre pedidos, \(D\) es la demanda, \(Q\) la cantidad
              óptima de pedido,
              \(Ch\) el costo de mantener y \(ChT\) el costo anual de mantener, \(Co\) el costo de ordenar y \(CoT\)
              el costo anual de ordenar, y por último, \(MO(Q)\) el costo mínimo total.
              \[ \]
              {% if D != None %}
              Para los datos ingresados se tienen los siguientes resultados:
              \[ Cantidad \ optima \ de \ pedidos \ = {{dato1}} \]
              \[ Costo \ total \ de \ ordenar \ = {{dato2}} \]
              \[ Costo \ total \ de \ mantener \ el \ inventario \ = {{dato3}} \]
              \[ Costo \ total \ de \ inventario: \ = {{dato4}} \]
              \[ Costo \ total \ del \ sistema \ de \ inventario \ = {{dato5}} \]
              \[ Número \ total \ de \ pedidos \ = {{dato6}} \]
              \[ Punto \ de \ reorden \ = {{dato7}} \]
              \[ Tiempo de \ pedido \ = {{dato8}} \]
        
              {% endif %}
						</p>

					</div>
				</div>
			</div>
		</div>

		<!-- parte 2 -->
		<div class="row">
			<div class="col-sm-12">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Tabla de costos</h5>
				  <p class="card-text">
            {% if D != None %} 
            {% for table in tables %}
            {{ table|safe }}
            {% endfor %}
            {% endif %}
					</p>
				  
				</div>
			  </div>
			</div>
			<div class="col-sm-12">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Gráfico comparativo de costos</h5>
				  <p class="card-text"> 
            {% if D != None %}
  
            <img src="{{ grafica }}" width="900">
        
            {% endif %}
				  </p>
			 
				</div>
			  </div>
			</div>
		  </div>
		<!-- parte 2 2 -->
	</div>
</div><!-- /container -->
{% endblock %}