 

  
{% extends "layout2.html" %}

{% block content %}
<div class="  demo-1">
	{% include "header.html" %} 
	<div class="main clearfix">
		<div class="row">
			<div class="col-sm-5">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"> Tabla de inventario</h5>
						<div class="card-text">
							<form class="form-inline" method="POST">
								<table class="table">
									{% for field in form %}
									<tr>
										<td>{{ field.label }}</td>
									</tr>
									<tr>
										<td>{{ field }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td> <input type="submit" value="Resolver" class="btn btn-info form-control">
										</td>
										<td></td>
									</tr>
								</table>
							</form>
<hr>
{% include "metmodelo.html" %} 

						</div>

					</div>
				</div>
			</div>
			<div class="col-sm-7">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"> Tabla de inventario</h5>
						<p class="card-text">
              El sistema de inventario es un conjunto de políticas, modelos, componentes (productos, compras, pedidos, costos,
      órdenes de compra, cantidad de pedido,
      tiempos de pedido…), que organizados e interrelacionados nos permitan optimizar el costo de mantener el inventario
      para que la empresa pueda obtener
      beneficios reales y otros como el “GoodWill” o prestigio de la empresa no tangible.
      \[\]
      {% if D != None %}
      La situación de inventarios más común que enfrentan los fabricantes, distribuidores, y comerciantes es que los
      niveles de inventarios se reducen con el tiempo y
      después se reabastecen con la llegada de nuevas unidades. Se supone que los artículos bajo suposición saldrán en
      forma continua a una tasa constante
      conocida \((D=demanda)\), el inventario se reabastece \((al \ producir \ u \ ordenar)\) un lote de tamaño fijo
      \((Q= unidades)\) que llegan juntas en un tiempo determinado
      {% endif %}
						</p>

					</div>
				</div>
			</div>
		</div>

		<!-- parte 2 -->
		<div class="row">
			<div class="col-sm-12">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Tabla de inventario</h5>
				  <p class="card-text">
            {% if D != None %} 
            {% for table in tables %}
            {{ table|safe }}
            {% endfor %}
            {% endif %}
					</p>
				  
				</div>
			  </div>
			</div>
		<!-- 	<div class="col-sm-12">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Gráfico comparativo de costos</h5>
				  <p class="card-text"> 
            {% if D != None %}
  
            <img src="{{ grafica }}" width="900">
        
            {% endif %}
				  </p>
			 
				</div>
			  </div> -->
			</div>
		  </div>
		<!-- parte 2 2 -->
	</div>
</div><!-- /container -->
{% endblock %}