
<!-- Footer -->
<footer class=" bg-dark text-center text-white">
	<!-- Grid container -->
	<div class="container p-4">
	  <!-- Section: Social media -->
	  <section class="mb-4">
		<!-- Facebook -->
		<a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/mafer.villamarin.9" role="button"
		  ><i class="fab fa-facebook-f"></i
		></a>
  
		<!-- Twitter -->
		<a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/MaferVillamC" role="button"
		  ><i class="fab fa-twitter"></i
		></a>
   
  
		<!-- Instagram -->
		<a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/mafervillamc/?hl=es-la" role="button"
		  ><i class="fab fa-instagram"></i
		></a>
  
	 
	  </section>
	  <!-- Section: Social media --> 
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  Autora: María Fernanda Villamarin Cevallos
	  <br>
	  Docente: Ing. Jorge Aníbal Moya Delgado, Mg.
	  <br>
		© 2021 Copyright:
 

	</div>
	<!-- Copyright -->
  </footer>
  <!-- Footer -->