{% extends "layout.html" %}

{% block content %}
<div class=" demo-1">
	{% include "header.html" %}

	<div class="main clearfix">
		 
		<div class="card text-center ">
			<div class="card-header bg-transparent">
				<h1>Métodos Aleatorios</h1>
			</div>
			<div class="card-body">

				<p class="card-text justify-content-center">La simulación de cualquier sistema o proceso donde existen
					componentes aleatorios necesita de números al azar, un número aleatorio es un número de una
					secuencia cuya probabilidad de ocurrencia es igual a la de cualquier otro número de la secuencia.
					Disponer de un buen generador de números aleatorios es
					fundamental en cualquier simulación. Aquí podrá encontrar una selección de diferentes generadores
					aleatorios con los que podrá trabajar.</p>
					<div class="list-group">
						<a  class="list-group-item list-group-item-action  " aria-current="true" href="{{ url_for('metran_api.cuadrado_medio') }}">Método cuadrado medio</a>
						<a  class="list-group-item list-group-item-action" href="{{ url_for('metran_api.congruencial_aditivo') }}">Método congruencial lineal</a>
					 
						<div class=" list-group-item list-group-item-action  dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								Método congruencial multiplicativo
							</button> 
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							  <li><a class="dropdown-item" href="{{ url_for('metran_api.congruencial_multiplicativo_autogenerado') }}">Autogenerar valores</a></li>
							  <li><a class="dropdown-item" href="{{ url_for('metran_api.congruencial_multiplicativo_30264') }}">generador excel-01</a></li>
							  <li><a class="dropdown-item" href="{{ url_for('metran_api.congruencial_multiplicativo_30323') }}">generador excel-02</a></li>
							</ul>
						  </div>
					  </div>
			</div>
		 
		</div>

	</div><!-- /container -->

	{% endblock %}