 

  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-pink p-4">
      <h5 class="text-white h4">
        <div class="list-group bg-pink">
          <a  class="list-group-item list-group-item-action bg-pink " aria-current="true" href="{{ url_for('metreg_api.regresion_lineal') }}">Regresión Lineal</a>
          <a  class="list-group-item list-group-item-action bg-pink"  href="{{ url_for('metreg_api.regresion_no_lineal') }}">Regresión no Lineal</a>
         
        </div>  
      </h5>
     
    </div>
  </div>
  <nav class="navbar navbar-dark bg-pink text-white ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>Menu
      </button>
    </div>
  </nav>