 {% extends "layout2.html" %}

{% block content %}
<div class="  demo-1">
	{% include "header.html" %} 
	<div class="main clearfix">
		<div class="row">
			<div class="col-sm-5">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Regresión lineal</h5>
						<div class="card-text">
							<form class="form-inline" method="POST">
								<table class="table">
									{% for field in form %}
									<tr>
										<td>{{ field.label }}</td>
									</tr>
									<tr>
										<td>{{ field }}</td>
									</tr>
									{% endfor %}
									<tr>
										<td> <input type="submit" value="Resolver" class="btn btn-info form-control">
										</td>
										<td></td>
									</tr>
								</table>
							</form>
<hr>
{% include "metlinealmenu.html" %} 

						</div>

					</div>
				</div>
			</div>
			<div class="col-sm-7">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Regresión lineal</h5>
						<p class="card-text">

           
      Su expresión general se basa en la ecuación de una recta \(y = mx + b\). Donde \(m\) es la pendiente y \(b\) el
      punto
      de corte, y vienen expresadas de la siguiente manera:
      \[ m = { n*\sum(x*y) - \sum x * \sum y \over n* \sum x^2 - | \sum x |^2 } \qquad b = { \sum y * \sum x^2 - \sum x
      * \sum(x*y) \over n* \sum x^2 - | \sum x |^2 } \]

      {% if N != None %}
      Como se puede ver usa las sumatorias de todas las columnas de nuestros datos, \( n \) viene siendo la cantidad
      de datos ingresados que equivale a \( {{ cant }} \), para los datos ingresados tenemos las siguientes sumatorias
      totales:
      \[ \sum x = {{ sum1 }} \qquad \sum y = {{ sum2 }} \qquad \sum x^2 = {{ sum3 }} \qquad \sum xy = {{ sum4 }} \]
      Por lo cual al reemplazar en \(m\) y \(b\) nos va a dar lo siguiente:
      \[ m = { {{ cant }}*{{ sum4 }} - {{ sum1 }} * {{ sum2 }} \over {{ cant }}*{{ sum3 }} - |{{ sum3 }}|^2 } = {{ P0 }}
      \]
      \[ b = { {{ sum2 }}*{{ sum3 }} - {{ sum1 }}*{{ sum4 }} \over {{ cant }}*{{ sum3 }} - |{{ sum3 }}|^2 } = {{ P1 }}
      \]
      La recta obtenida con el método de los mínimos cuadrados la siguiente:
      \[y = {{ P0 }}*x + {{ P1 }}\]
      Si igualamos a \(0\) y despejamos \(x\) tendremos el valor de donde corta la recta en \(x\):
      \[0 = {{ P0 }}*x + {{ P1 }}\]
      \[x = -{ {{ P1 }} \over {{ P0 }} } = {{ fin }} \]

      {% endif %}
						</p>

					</div>
				</div>
			</div>
		</div>

		<!-- parte 2 -->
		<div class="row">
			<div class="col-sm-6">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Tabla de valores aleatorios</h5>
				  <p class="card-text">
					{% if N != None %}
					 
					{% for table in tables %}
					{{ table|safe }}
					{% endfor %}
					{% endif %}  
					</p>
				  
				</div>
			  </div>
			</div>
			<div class="col-sm-6">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Gráfica de los números aleatorios generados</h5>
				  <p class="card-text"> 
					{% if N != None %}
			 
          <img src="{{ grafica }}" width="550">
			
					{% endif %}

				  </p>
			 
				</div>
			  </div>
			</div>
		  </div>
		<!-- parte 2 2 -->
	</div>
</div><!-- /container -->
{% endblock %}